@model CategoriesViewModel

@{
    ViewData["Title"] = "User categories";
}

<h1>User categories</h1>

@foreach(var cat in Model.ReviewCategories)
{
    <a asp-action="CreateReview" asp-controller="User" asp-route-Id="@cat.Id">@cat.Name</a>
     <br />
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create Category" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
