@model CategoriesViewModel

@{
    ViewData["Title"] = "User categories";
}
 
<table class="table table-bordered border-success">
    <tr class="bg-success text-white">
        <th>@ViewBag.user's categories</th>
    </tr>
    <tr>
        <td>
            @foreach (var cat in Model.ReviewCategories)
            {
                <a class="page-link text-black" asp-action="CreateReview" asp-controller="User" asp-route-Id="@cat.Id" asp-route-UserId="@ViewBag.id">@cat.Name</a>
                <br />
            }
        </td>
    </tr>
</table>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mt-1">
                <button type="submit" class="btn btn-success">Create category <i class="fa fa-plus" aria-hidden="true"></i></button>
            </div>
        </form>
    </div>
</div>
