@model IEnumerable<UserApplication>

@{
    ViewData["Title"] = "Users list";
}

<form asp-controller="Adminisration" method="post">
     <table class="table table-bordered border-success">
         <tr>
             <th class="bg-success text-white">Users</th>
         </tr>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    <a class="page-link text-black" asp-action="UserCategories" asp-controller="User" asp-route-Id="@user.Id">@user.UserName</a>
                </td>
            </tr>
        }
     </table>
</form>
