@model IEnumerable<ReviewCategory>

@{
    ViewData["Title"] = "User Categories";
}

<h1>User categories</h1>

@foreach(var cat in Model)
{
    <a asp-action="CreateReview" asp-controller="User" asp-route-id="@cat.Id" asp-route-UserId="@ViewBag.id">@cat.Name</a>
   <br />
}