@model ListRolesViewModel

@{
    ViewData["Title"] = "Roles list";
}

@if (Model.IdentityRoles.Any())
{
    <div class="card-footer">
        <a class="btn btn-primary" asp-action="CreateRole" asp-controller="Administration">Create role <i class="fa fa-plus" aria-hidden="true"></i></a>
    </div>
    <table class="table table-bordered table-hover">
        <tr>
            <th>Role</th>
            <th>Edit</th>
        </tr>
        @foreach (var role in Model.IdentityRoles)
        {
            <tr>
                <td>@role.Name</td>
                <td>
                    <a asp-action="EditRole" asp-controller="Administration" asp-route-id="@role.Id" class="btn btn-primary">Edit <i class="fa fa-edit" aria-hidden="true"></i></a>
                </td>
            </tr>
        }
    </table>
   
}
else
{
    <div class="card">
        <div class="card-header">
            <label>No created roles</label>
        </div>
        <div class="card-body">
        </div>
        <div class="card-footer">
            <a class="btn btn-primary" asp-action="CreateRole" asp-controller="Administration">Create role</a>
        </div>
    </div>
}

@*<table class="table table-bordered table-hover">
    <tr>
        <th>Username</th>
        <th>Block</th>
        <th>Delete</th>
    </tr>

    @{
        foreach (var name in Model.Names)
        {
            <tr>
                <td>
                    <a>@name</a>
                </td>
                <td>
                    <a class="btn btn-danger">Block</a>
                </td>
                <td>
                    <a class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    }
</table>*@